.item{
    background-color: brown;
    display: flex;
    flex: 1;
    margin-bottom: 3rem;
    height: 47px;
    margin: 10px 10px;
}
.containercol{
    display:flex;
    flex-direction:column;
}
.itemMaior{
    background-color: blue;
    display: flex;
    flex: 2;
    height: 47px;
    margin: 10px 10px;
    }
.container{
    display: flex;
    }
.container{
    
}